extends layout

block content
  h1 Hikers
  table(class="table table-striped")
     thead
      tr
        td Name
        td Latitude
        td Longitude
        td Signal Strength
        td Last Updated
     tbody
       each hiker in hikers
         tr
          td= hiker.name
          td= hiker.latitude
          td= hiker.longitude
          td
             span=hiker.signal_stength.scale
             span(style="margin-left:10px")=hiker.signal_stength.human_readable
             span(style="margin-left:10px")=hiker.signal_stength.signaldBm
          td= hiker.lastUpdated
